@inherits LayoutComponentBase
@inject Toaster Toaster

<div class="page">
    <div class="sidebar bg-primary-subtle">
        <NavMenu />
    </div>
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<Toaster @ref="Toaster" />
